/* Start Variable Declaration */

$title-background ?= #512DA8
$title-colour ?= rgb(225, 225, 225)
$content-background ?= #673AB7
$content-main-colour ?= rgb(225, 225, 225)
$content-secondary-colour ?= rgba(255, 255, 255, 0.5)
$background-colour ?= rgb(255, 255, 255)
$text-colour ?= rgb(32, 32, 32)
$unselectable-text-colour ?= #727272
$today-text-colour ?= #673AB7
$selected-text-colour ?= $background-colour
$selected-background-colour ?= #FFC400
$hover-text-colour ?= darken($selected-text-colour, 10%)
$hover-background-colour ?= #D1C4E9
$button-text-colour ?= #673AB7
$button-text-colour-invert ?= $content-main-colour
$clock-background-colour ?= #D1C4E9

clearfix()
	&:after, &:before
		display: table;
		content: " "
	&:after
		clear: both

content-height = 18.5rem

clock-radius = 75

/* End Variable Declaration */

/* Start Main Styling */

.visuallyhidden
	visibility: hidden

.time-date
	overflow: hidden
	border: none
	width: 34rem
	font-size: 1.2rem

	&[theme=material], &:not([theme])
		.md-button
			padding: 6px
			margin: 0
			min-width: initial
			line-height: inherit
			font-size: inherit
		& > .control > .date-control .day-cell
			border-radius: 3rem
	& > .display
		position: relative
		width: 45%
		height: 75%
		cursor: pointer
		transition: color 0.6s ease-in-out
		& > .title
			background-color: $title-background
			color: $title-colour
			line-height: 2.5rem
			width: 100%
		& > .content
			position: absolute
			left: 0px
			right: 0px
			bottom: 0px
			top: 2.2rem
			padding: 2rem 0.5rem 1rem 0
			font-size: 2rem
			background-color: $content-background
			color: $content-main-colour
			& .super-title
				text-transform: uppercase
			& .sub-title
				font-size: 1.6rem
			& .main-title
				font-size: 5rem
				line-height: 5rem
				height: 5rem
				color: $background-color
			& .small
				display: block
				padding-top: 30px
				text-align: center
				font-size: 1.8rem
				color: $content-secondary-colour
		  & .time-control
				font-size: 1.2rem
				padding-right: 0.5rem
				color: $button-text-colour-invert
				& input
					color: $button-text-colour-invert
					border-color: $button-text-colour-invert
					width: 33px
			  & .material-icons, button.md-primary
					color: $button-text-colour-invert
	& > .control
		width: 50%
		overflow-x: hidden
		position: relative
		& > .full-title
			display: none
			background-color: $title-background
			color: $title-colour
			line-height: 2.4rem
		& > .date-control
			height: content-height
			width: 38
			& > .title
				font-weight: 500
				line-height: 2.2rem
				padding-top: 0.5rem
				clearfix()
				& .month-year
					text-align: center
					& > .month-year-content
						margin: 0 auto 0 auto
						padding-left: 10px
				& .left
					text-align: center
					padding-top: 5px
				& .right
					text-align: center
					padding-top: 5px
				& span.month-part
					cursor: pointer
					position: relative
					margin: 0 0.5rem 0 0
					&:hover
						text-decoration: underline
					& > select
						position: absolute
						top: 0px
						bottom: 0px
						left: 0px
						right: 0px
						opacity: 0
						width: 100%
				& input
					border: none
					width: 4.3rem
			& > .headers
				font-weight: 500
				font-size: 1rem
				padding-left: 1rem
				text-align: left
				& > .day-cell
					text-align: center
					cursor: default
					box-sizing: border-box
					padding-bottom: 0
					height: 30px
					min-height: 30px
					color: $unselectable-text-colour
			& .day-cell
				float: left
				width: 2.2rem
				height: 1.8rem
				padding: 0
				cursor: pointer
			& > .days
				font-size: 1rem
				padding-left: 1rem
				width: 16rem
				& .day-cell
					color: $text-colour
					&.today
						color: $today-text-colour
					&.selected
						color: $selected-text-colour
						background-color: $selected-background-colour
					&:hover, &:active
						color: $hover-text-colour
						background-color: $hover-background-colour
					&:disabled
						color: #aaa
						background-color: none
	&.date-mode-add, &.date-mode-remove
		& > .display
			color: transparent !important
	& > .display, & > .control
		height: content-height
		float: left
		text-align: center
	& > .buttons
		font-size: 1.1rem
		clear: both
		padding: 0 0.7rem 0.7rem 0.7rem
		text-align: right
	& button, & .button
		color: $button-text-colour
		& > .invert
			color: $button-text-colour-invert
	&.full-mode
		& > .display
			display: none
		& > .control
			width: 100%
			height: 23.4rem
			& > .full-title
				display: block
		& > .buttons
			background-color: $selected-background-colour
			& > button
				/* Invert colours for bottom bar */
				color: $selected-text-colour !important
vertical-orient()
	width: 18rem
	& > .display
		width: 100%
		height: auto
		transition: color 0.6s ease-in-out, height 0.6s ease-in-out
		& > .content
			position: relative
			width: 100%
			top: 0px
	& > .control
		width: 100%

	&.full-mode
		& > .display
			display: none
		& > .control
			width: 100%
			height: 40rem
			& > .full-title
				display: block

.time-date.vertical
	vertical-orient()

@media (max-width: 51rem)
	.time-date
		vertical-orient()
